h1 {
    text-align:center;
    font-size:50px;
    font-family: 'Encode Sans Condensed', sans-serif;
}
h2{
    font-family: 'Dancing Script', cursive;
}
p{
    font-family: 'Charmonman', cursive;
    font-size:30px;
}
h4{
    font-family: 'Source Code Pro', monospace;
    font-size:40px;
}
Strong{
    color:lime;
}
h2{
    font-size:50px;
}
ul{
    font-size:25px;
    font-family: 'Acme', sans-serif;
}
em{
    color:red;
}
img{
    width:500px;
    float:right;
}
body{
color:white;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-CKOouid_sMNG498tywVBjiyytACwuYphJpgLtI42JE0kEC9T");
}